.video-list {
  margin: 30px 0;
}

.video-list figure {
  display: flex;
  align-items: center;
}

.video-list figcaption {
  width: 800px;
  height: 300px;
  margin-bottom: 20px;
  font-size: 19px;
}

.thumbnailImg {
  width: 320px;
  height: 180px;
}

.channelImg {
  width: 50px;
  height: 50px;
}

.Video-list-text-box {
  display: flex;
  padding: 10px 1px 10px 1px;
}

figcaption {
  margin: 0px 10px 0px 10px;
}
