.Nav {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
}

.Nav::before {
  content: "";
  min-width: 286px;
}

.Nav::after {
  content: "";
  min-width: 284px;
}
.header-box {
  display: inline-flex;
  position: absolute;
  left: 2vw;
  justify-content: center;
  align-items: center;
}
.header-logo {
  height: auto;
  height: 23px;
  left: 30px;
  top: 50%;
  cursor: pointer;
}

.user-icon1 {
  display: flex;
  position: absolute;
  right: 20px;
  border-radius: 20px;
  border: solid 1px gainsboro;
  padding: 7px 7px 7px 7px;
  background-color: #fff;
  cursor: pointer;
}

.user-icon2 {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.user-icon1 div {
  margin: 0px 3px 0px 3px;
  color: cornflowerblue;
}

.side-menu {
  width: 40px;
  height: 30px;
  border: #fff;
  background-color: #fff;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
}

.menuicon {
  width: 100%;
  height: 100%;
}
